---
//.src/components/BlogLayout.astro
import CategoryFilterList from "./CategoryFilterList.astro";
import PostCard from "./PostCard.astro";
import Pagination from "./Pagination.astro";
import TheSearch from "./TheSearch.astro";

const {
  posts,
  categories,
  categorySlug,
  prevUrl,
  nextUrl,
  currentPage,
  lastPage,
} = Astro.props;
---

<div class="blog">
  <header class="blog__header">
    <div class="blog__header-inner">
      <h1 class="blog__title">Blog Posts</h1>
      <p class="blog__subtitle">
        Reflect on posts about <span class="blog__subtitle-span">healing</span>,
        awareness, and self-connection.
      </p>
    </div>
  </header>

  <div class="blog__layout">
    <section class="blog__main">
      {
        posts.map((post, index) => (
          <PostCard
            class="post-card"
            post={post}
            loading={index === 0 ? "eager" : "lazy"}
          />
        ))
      }
    </section>

    <aside class="blog__aside">
      <div class="category-filter">
        <CategoryFilterList
          categories={categories}
          categorySlug={categorySlug}
          heading="Filter by Category"
          aria-label="Blog categories"
        />
      </div>
      <div class="blog__search">
        <TheSearch />
      </div>
    </aside>
  </div>

  <Pagination
    prevUrl={prevUrl}
    nextUrl={nextUrl}
    currentPage={currentPage}
    lastPage={lastPage}
  />
</div>

<style>
  .blog {
    display: grid;
    place-items: center;
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xxl);
  }

  .blog__layout {
    display: grid;
    width: 100%;
    max-width: min(97.5rem, 95%);
  }

  .blog__main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-lg);
    margin-bottom: var(--spacing-xl);
  }

  .post-card {
    max-width: max(32ch, min(95vw, 345px));
  }

  .blog__aside {
    /* order: 1; */
    order: -1;
  }

  .blog__header {
    overflow: hidden;
    margin-bottom: var(--spacing-md);
  }

  .blog__header-inner {
    text-align: center;
    padding: var(--spacing-xl) var(--spacing-lg);
    background: var(--clr-neutral-light);
    border-radius: var(--border-radius);
    text-wrap: balance;
  }

  .blog__title {
    font-size: var(--fs-fluid-h1);
    margin-bottom: var(--spacing-xxs);
    line-height: var(--lh-tight);
  }

  .blog__subtitle {
    color: var(--clr-text-light);
  }

  .blog__subtitle-span {
    font-weight: var(--fw-light);
    color: var(--clr-primary);
  }

  .category-filter {
    margin-bottom: var(--spacing-xxl);
  }

  .search-button {
    display: inline-flex;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-md);
  }

  /* mq */

  @media (width > 768px) {
    .blog__layout {
      grid-template-columns: 1fr auto;
      justify-content: space-between;
      margin-top: var(--spacing-xxl);
    }

    .blog__aside {
      order: 1;
    }
  }

  @media (width > 900px) {
    .post-card {
      flex: 1 1 30%;
    }

    .blog__layout {
      gap: var(--spacing-xl);
    }
  }

  @media (width < 768px) {
    .blog__main {
      order: 2;
    }

    .blog__aside {
      display: contents; /* removes the container, keeping only children */
    }

    .blog__search {
      order: 3;
      text-align: center;
    }
  }
  @media (max-width: 768px) {
    .blog__header {
      padding-inline: var(
        --spacing-md
      ); /* Add padding for mobile phones and smaller screens */
    }
  }

  /* misc */
  @media (768px <= width < 1024px) {
    .blog__layout {
      grid-template-columns: 1.5fr 1fr;
    }
  }
</style>
