---
// src/components/Icon.astro
const {
  name,
  size = 32,
  title = "",
  color,
  class: className,
  ...rest
} = Astro.props;

import IconBook from "./icons/IconBook.astro";
import IconArrow from "./icons/IconArrow.astro";
import IconCalendar from "./icons/IconCalendar.astro";
import IconClock from "./icons/IconClock.astro";
import IconLink from "./icons/IconLink.astro";
import IconSearch from "./icons/IconSearch.astro";
import IconMenu from "./icons/IconMenu.astro";
import IconClose from "./icons/IconClose.astro";
// ...add more as needed

const icons = {
  book: IconBook,
  arrow: IconArrow,
  calendar: IconCalendar,
  clock: IconClock,
  link: IconLink,
  menu: IconMenu,
  close: IconClose,
  search: IconSearch,
};

const SelectedIcon = icons[name.toLowerCase()];
---

{
  SelectedIcon ? (
    <SelectedIcon
      style={`width: ${size}px; height: ${size}px; color: ${color}; `}
      title={title}
      class={className}
      {...rest}
    />
  ) : (
    <span style="color: var(--clr-accent);">Missing icon: {name}</span>
  )
}
