---
// ./src/layouts/Layout.astro

import { SEO } from "astro-seo";
import "../styles/style.css";
import "../styles/main.css";
import TheNavigation from "../components/TheNavigation.astro";
import Logo from "../components/Logo.astro";
import LogoLg from "../components/LogoLg.astro";
import TheFooter from "../components/TheFooter.astro";

const {
  showLogo = true,
  pageTitle = "Healing with Layla – Therapy Blog for Mind & Well-being",
  pageDescription = "Explore articles, tips, and insights about therapy, mental health, and emotional well-being.",
  canonicalPath = "/",
  openGraphImage = "/imgs/default-og-image.png",
} = Astro.props;

const SITE_URL = import.meta.env.PUBLIC_SITE_URL;
const canonicalUrl = `${SITE_URL}${canonicalPath}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="https://use.typekit.net/cte2xlh.css" as="style" />
    <link
      rel="stylesheet"
      href="https://use.typekit.net/cte2xlh.css"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link rel="stylesheet" href="https://use.typekit.net/cte2xlh.css" />
    </noscript>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={pageTitle}
      description={pageDescription}
      canonical={canonicalUrl}
      openGraph={{
        basic: {
          title: pageTitle,
          type: "website",
          image: `${SITE_URL}${openGraphImage}`,

          url: canonicalUrl,
        },
        optional: {
          description: pageDescription,
        },
        image: {
          url: `${SITE_URL}${openGraphImage}`,
          width: 1200,
          height: 630,
          alt: "Open Graph Image",
        },
      }}
      twitter={{
        card: "summary_large_image",
        title: pageTitle,
        description: pageDescription,
        image: `${SITE_URL}${openGraphImage}`,
      }}
    />
  </head>
  <body>
    <div id="site">
      <header class="site__header">
        <div class="site__header--inner">
          {
            showLogo && (
              <>
                <div class="logo logo--mobile">
                  <Logo class="logo__size" />
                </div>
                <div class="logo logo--desktop">
                  <LogoLg class="logo__size--lg" />
                </div>
              </>
            )
          }
          <div class="spacer logo-size"></div>
          <TheNavigation />
        </div>
      </header>
      <main>
        <slot />
      </main>

      <TheFooter />
    </div>
  </body>
</html>
