---
// ./src/pages/blog/[slug].astro
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import Layout from "../../layouts/Layout.astro";
import PortableText from "../../components/PortableText.astro";
import MainImage from "../../components/MainImage.astro";
import { postQuery } from "../../sanity/lib/queries";



export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post } = await loadQuery<{ title: string; body: any[]; mainImage: any; tags: {
_id: any; title: string; slug: { current: string } 
}[] }>({
  query: postQuery,
  params,
});
---

<Layout>
  <h1>A post about {post.title}</h1>
  {post.mainImage && (
    <MainImage 
      mainImage={post.mainImage} 
      alt={post.title} 
      class="main__img" 
    />
  )}
  <PortableText portableText={post.body} />
    <div>

      <ul>
      
        {post.tags && post.tags.length > 0 && post.tags.map((tag) => (
          <li key={tag._id}>
       
            <a href={`/tags/${tag.slug?.current}`} >
              {tag.title}
            </a>
          </li>
        ))}
      </ul>
    </div>
</Layout>

<style>

  .main__img {
    width: 100%;
    margin-inline: auto;
    max-width: 800px;

 
  }
</style>