---
// ./src/pages/blog/[slug].astro

import Layout from "@/layouts/Layout.astro";
import PostDetail from "@/components/PostDetail.astro";
import RelatedPosts from "@/components/RelatedPosts.astro";
import BlogSearchHero from "@/components/BlogSearchHero.astro";
import {
  getPostBySlug,
  getAllPosts,
  getRelatedPosts,
} from "@/utils/sanityQueries";
import SanityPostNav from "@/components/sanity/SanityPostNav.astro";

export async function getStaticPaths() {
  const posts = await getAllPosts(); // Use the function from sanityQueries.ts to fetch all posts
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

const { slug } = Astro.params; // Get the slug from the URL
const post = await getPostBySlug(slug); // Fetch the current post by slug

// If the post is not found, throw an error or handle the 404 case
if (!post) throw new Error("Post not found");

// Fetch the related posts for the current post
const relatedPosts = await getRelatedPosts(slug);

// Use the environment variable for base site URL

const SITE_URL = import.meta.env.PUBLIC_SITE_URL;
const canonicalPath = `/blog/${slug}`;
const canonicalUrl = `${SITE_URL}${canonicalPath}`;
---

<Layout
  pageTitle={post.title}
  pageDescription={post.description ?? post.excerpt}
  canonicalPath={canonicalPath}
  openGraphImage={post.mainImage?.asset?.url ?? "/imgs/default-og-image.png"}
>
  <div class="blog-post__container">
    <PostDetail post={post} relatedPosts={relatedPosts} />
    <RelatedPosts relatedPosts={relatedPosts} />
    <SanityPostNav publishedAt={post.publishedAt} />
    <div class="blog-post__search">
      <BlogSearchHero />
    </div>
  </div>
</Layout>

<style>
  .blog-post__container {
    background-color: var(--clr-neutral-light);
    height: 100%;
  }

  .blog-post__search {
    text-align: center;
    margin-top: var(--spacing-xl);
  }
</style>
