---
import SanityImage from "./SanityImage.astro";
import Icon from "../Icon.astro";

const { image, slug, altText = "Blog post thumbnail", title } = Astro.props;
const slugString = typeof slug === "string" ? slug : (slug?.current ?? "");
---

<div class="post-preview__container">
  <article class="post-preview">
    <SanityImage
      image={image}
      maxWidth={800}
      alt={altText}
      class="post-preview__bg"
    />
    <div class="post-preview__overlay"></div>
    <div class="post-preview__text">
      <p class="post-preview__label">Next Reflection</p>
      <h2 class="post-preview__title">{title}</h2>
      <a
        href={`/blog/${slugString}`}
        aria-label={`Read more about ${altText}`}
        class="post-preview__link"
      >
        Read more
        <Icon name="arrow" color="white" size={20} title="Next Post" />
      </a>
    </div>
  </article>
</div>

<style>
  .post-preview {
    position: relative;
    width: 100%;
    max-width: 480px;
    /* height: 250px; */
    margin-right: auto;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: flex-end;
    box-shadow: var(--box-shadow);
  }

  .post-preview__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.65);
  }

  .post-preview__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent 60%);
    z-index: 2;
  }

  .post-preview__text {
    position: relative;
    z-index: 3;
    padding: var(--spacing-md);
  }

  .post-preview__label {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-bottom: var(--spacing-xxxs);
    color: #ccc;
  }

  .post-preview__title {
    font-weight: var(--fw-bold);
    margin-bottom: var(--spacing-xxs);
    line-height: var(--lh-tight);
  }

  .post-preview__link {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-xxxs);
    font-weight: var(--fw-bold);
    color: white;
    text-decoration: underline;
  }

  .post-preview__link:hover {
    color: var(--clr-accent);
  }

  @media (min-width: 768px) {
    .post-preview__title {
      font-size: 1.5rem;
    }

    .post-preview {
      border-radius: var(--border-radius);
    }

    .post-preview__container {
      max-width: var(--wrapper-width);
      margin-inline: auto;
    }
  }
</style>
